*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #32a093 0%,
        #32a093 15%,
        #dde0db 15%,
        #dde0db 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Utilities */

img{
    width: 60px;
    border-radius: 30px;
    margin: 15px;
}

/* Container */

.container{
    display: flex;
    width: 80%;
    min-width: 900px;
    height: 95%;
    background-color: #dfe0d9;
    border: 1px solid black;
    overflow: hidden;
}

/* Aside */

aside{
    width: 35%;
    height: 100%;
}

.nav-left{
    display: flex;
    background: #d7d7d7;
}

.user{
    display: flex;
    align-items: center;
    width: 50%;
}

.icon{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    align-items: center;
    padding-right: 15px;
}

.icon i{
    margin: 10px;
    color: #bababa;
    font-size: 20px;
    cursor: pointer;
}

/* Notifications */

.notifications{
    display: flex;
    align-items: center;
    background-color: #a2dffe;
    width: 100%;
    height: 100px;
}

.notifications i{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    margin: 0 15px;
    font-size: 30px;
    color: #a2dffe;
    background-color: #f5fcff;
    border-radius: 30px;
}

.text-not a{
    color: #5e7f91;
}

/* Chat aside */

.chat-aside{
    background-color: #fff;
    padding: 3px;
    height: 100%;
    width: 100%;
}

.search-chat{
    display: flex;
    align-items: center;
    background-color: #fbfbfb;
    padding: 5px;
}

.search-chat i{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    font-size: 20px;
    color: #bababa;
    height: 30px;
    padding: 0 25px;
    border: 1px solid #f6f6f6;
    cursor: pointer;
}

.search-chat input{
    height: 30px;
    border: 1px solid #f6f6f6;
    width: 100%;
    padding: 0 20px;
    color: #bababa;
}

.users{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f6f6f6;
    width: 100%;
}

.users:last-child{
    border-bottom: 0px;
}