 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #32a093 0%,
        #32a093 15%,
        #dde0db 15%,
        #dde0db 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    width: 80%;
    height: 95%;
}

/* Utilities */

img{
    width: 60px;
    border-radius: 30px;
    margin: 15px;
}

/* Container */

.container{
    display: flex;
    width: 100%;
    min-width: 900px;
    height: 100%;
    background-color: #dfe0d9;
    overflow: hidden;
}

/* Aside */

aside{
    width: 36%;
    height: 100%;
}

.nav-left{
    display: flex;
    background: #d7d7d7;
}

.user{
    display: flex;
    align-items: center;
    width: 65%;
}

.user h3{
    font-weight: 500;
}

.icon{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    align-items: center;
    padding-right: 15px;
}

.icon i{
    margin: 10px;
    color: #bababa;
    font-size: 20px;
    cursor: pointer;
}

/* Notifications */

.notifications{
    display: flex;
    align-items: center;
    background-color: #a2dffe;
    width: 100%;
    height: 100px;
}

.notifications i{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    margin: 0 15px;
    font-size: 30px;
    color: #a2dffe;
    background-color: #f5fcff;
    border-radius: 30px;
}

.text-not a{
    color: #5e7f91;
}

/* Chat aside */

.chat-aside{
    background-color: #fff;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.search-chat{
    display: flex;
    align-items: center;
    background-color: #fbfbfb;
    padding: 5px;
}

.search-chat i{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    font-size: 20px;
    color: #bababa;
    height: 30px;
    padding: 0 25px;
    border: 1px solid #f6f6f6;
    cursor: pointer;
}

.search-chat input{
    height: 30px;
    border: 1px solid #f6f6f6;
    width: 100%;
    padding: 0 20px;
    color: #bababa;
}

.users{
    display: flex;
    align-items: center;
    border-top: 1px solid #f6f6f6;
    width: 100%;
}

.users:hover{
    background-color: #bababa;
}

.users h3{
    font-weight: 500;
}

/* Navbar right */

.chat{
    width: 100%;
}

.info-user{
    width: 50%;
}

.user-chat{
    display: flex;
    align-items: center;
    background-color: #d7d7d7;
    border-left: 1px solid #bababa;
}

/* Message chat */

.chat-message{
    background-image: url(../img/mine.jpg);
    height: 82%;
    width: 100%;
    overflow: scroll;
}

.conversation{
    padding: 60px 150px;
}


.sent .section-message{
    display: flex;
    justify-content: end;
    margin: 10px 0;
}



.sent .message{
    position: relative;
    display: flex;
    align-items: center;
    background-color: #ddfabf;
    height: 50px;
    padding: 0 15px;
    width: 300px;
    border-radius: 10px;
}


.sent h4{
    width: 100%;
    font-weight: 400;
}

.time{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.time p{
    font-size: 10px;
    color: #bababa;
    width: 100%;
}

/* Received */

.received{
    position: relative;
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 50px;
    width: 300px;
    padding: 0 15px;
    margin: 10px 0;
    border-radius: 10px;
}

.received h4{
    width: 100%;
    font-weight: 400;
}

/* Write message */

.write-message{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d7d7d7;
    height: 60px;
    padding: 0 30px;
}

.write-message input{
    width: 90%;
    height: 30px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #bababa;
}

.write-message i{
    font-size: 20px;
    color: #777e82;
}